$bgc: #ace2dd;
$panelColor:#71DFE7;
$buttonColor: rgb(40, 230, 230);
$mainColor: #FF2626;
$secondaryColor: #BD1616;
$main-layout-pc:1400px;
$main-layout-tablet:1100px;
$main-layout-wide-phone:900px;
$main-layout-phone:450px;