.main-footer {
    font-family: "nunitosans";
    background: linear-gradient(to right,  #63afe2 0%, #9199d4 50%, #1ADDF1 100%);

  height: 100px;
 
    .footer-container {
        max-width: $main-layout-pc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
height: 100px;
        p {
            font-size: 2.5rem;
         
        }

    }}


    @media (max-width: $main-layout-pc) {
        .main-footer {
            .footer-container {
                max-width: $main-layout-wide-phone;
            }
        }
    }