.main-header {
    font-family: "nunitosans";
    background: linear-gradient(to right, #1addf1 0%, #63afe2 50%, #9199d4 100%);
    width: 100%;
    height: 100px;
    .header-container {
        max-width: $main-layout-pc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 100px;
        p {
            font-size: 2.5rem;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;

            li {
                text-decoration: none;
                font-size: 1.5rem;
                margin-left: 20px;
                .active-nav {
                    color: #ffe652;
                }
                a {
                    color: white;
                    padding: 3px;
                }
                a:hover {
                    cursor: pointer;
                    box-shadow: -1px 5px 32px 5px #ffffff;
                }
            }
        }
        button {
            border: none;
            font-size: 1.5rem;
            margin-left: 20px;
            color: white;
            padding: 3px;
            background-color: transparent;
            font-family: "nunitosans";
            width: 30px;
        }
        button:hover {
            cursor: pointer;
            box-shadow: -1px 5px 32px 5px #ffffff;
        }

        .hamburger {
            display: none;
            width: 100px;
            aspect-ratio: 1;
            z-index: 50;
          img{
              width:80px;
          }
        }
    }
}

@media (max-width: $main-layout-pc) {
    .main-header {
        .header-container {
            max-width: $main-layout-tablet;
        }
    }
}

@media (max-width: $main-layout-tablet) {
    .main-header {
        .header-container {
            max-width: $main-layout-wide-phone;
        }
    }
}

@media (max-width: $main-layout-wide-phone) {
    .main-header {
        justify-content: space-between;
        .header-container {
            max-width: 98%;

            //  p {
            //     font-size: 1.5rem;
            // }
            // ul {
            //     li {
            //         font-size: 1rem;
            //    }
            // }

            ul {
                z-index: 100;
                background-color: rgba(0, 0, 0, 0.4);
                position: absolute;
                right: 0px;
                top: 100px;
                flex-direction: column;
                gap: 10px;
                justify-content: flex-start;
                li {
                    margin: 20px 20px 20px;
                    button {
                        margin: 0px;
                    }
                }
            }

            .hidden {
                position: absolute;
                // right:-300px;
                transition: 0.3s;
                transform: translate(300px);
            }

            .visible {
                position: absolute;
                transition: 0.3s;
                transform: translate(0px);
                // right:0px;
            }

            .hamburger {
                display: block;
            }
        }
    }
}
